<!--================Header Menu Area =================-->
<header class="header_area">
  <div class="top_menu row m0">
    <div class="container">
      <div class="float-left">
        <a class="dn_btn" href=""><i class="ti-mobile"></i>+1 (205) 325-1235</a>
        <span class="dn_btn"> <i class="ti-location-pin"></i> 4256 Marshville Road, Poughkeepsie, NY 12601</span>
      </div>
      <div class="float-right">
        <span class="follow_us">Follow us: </span>
        <ul class="list header_social">
          <li><a href="#"><i class="ti-facebook"></i></a></li>
          <li><a href="#"><i class="ti-twitter"></i></a></li>
          <li><a href="#"><i class="ti-instagram"></i></a></li>
          <li><a href="#"><i class="ti-skype"></i></a></li>
          <li><a href="#"><i class="ti-vimeo"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="main_menu">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand logo_h" href="index.html">
          <%= image_tag "logo.png", alt: "Logo" %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
          <ul class="nav navbar-nav menu_nav ml-auto">
            <li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="about-us.html">About</a></li>
            <li class="nav-item"><a class="nav-link" href="service.html">services</a></li>
            <li class="nav-item"><a class="nav-link" href="project.html">project</a></li>
            <li class="nav-item submenu dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
              <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
          </ul>
        </div>
        <div class="right-button">
          <ul>
            <li class="shop-icon"><a href="#"><i class="ti-shopping-cart-full"></i><span>0</span></a></li>
            <li><a id="search" href="javascript:void(0)"><i class="ti-search"></i></a></li>
          </ul>

        </div>
      </div>
    </nav>

  </div>
</header>
<!--================Header Menu Area =================-->